.addButton {
	font-size: 16px;
	font-weight: 800;
	margin: 10px auto;
	display: flex;
	align-items: center;
	justify-content: center;

	&.darkMode {
		background-color: #007bff;

		&:hover {
			background-color: #006adb;
		}

		&:active {
			background-color: #007bff;
		}
	}

	.icon {
		font-size: 24px;
		margin-left: 15px;
	}
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
